.tea-name {
  text-align: center;
  font-size: 1.5rem;
  color: var(--bright-green);
}
ion-grid {
  width: 100%;
  margin-top: 2rem;
  ion-col {
    ::ng-deep{
      ion-icon{
        width: 26px;
        height: 26px;
      }
    }
    ion-icon {
      color: var(--medium-green);
      background: var(--light-yellow);
      padding: .5rem;
      border-radius: 50px;
    }
    p {
      color: var(--medium-green);
    }
  }
}
.time-fields {
  margin-bottom: 1rem;
  .flex-box {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    label {
      font-size: .75rem;
      display: block;
      color: var(--bright-green);
    }
    input {
      background: transparent;
      border: 2px solid var(--bright-green);
      border-radius: 8px;
      padding: .5rem 1rem;
      width: 80px;
      font-size: 1.5rem;
      &:focus {
        outline: none !important;
        border: 2px solid var(--medium-green);
      }
    }
  }
}


small {
  display: block;
  text-align: center;
}

ion-button {
  height: auto;
  margin: 0 4rem 1rem 4rem;
  text-transform: capitalize;
  font-size: 1rem;
}

ion-button::part(native) {
  box-shadow: none;
  padding: 1rem 2rem;
}

small {
  color: var(--ion-color-danger);
}
