<div class='h-full p-4 flex flex-col justify-between'>
  <div class="flex flex-row justify-between px-4">
    <div class="flex flex-col items-center gap-2">
      <ion-icon name="leaf-outline"></ion-icon>
      <p>{{tea?.teaAmount}}<span class="ml-2">g</span></p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <ion-icon name="water-outline"></ion-icon>
      <p>{{tea?.waterAmount}}<span class="ml-2">ml</span></p>
    </div>
    <div class="flex flex-col items-center gap-2">
      <ion-icon name="thermometer-outline"></ion-icon>
      <p>{{tea?.temperature}}<span class="ml-2">˚C</span></p>
    </div>
  </div>
  <h1 class="text-xl font-bold text-center text-sencha">{{tea?.label}}</h1>
  <div class='flex flex-col items-center gap-4'>
    <span class="loader" [ngClass]="{'animate': isAnimating}">
      <img src='assets/icon/{{tea?.icon}}' alt=''>
    </span>
    <p class='text-6xl font-bold text-center text-sencha'>
      {{ brewingTime ? brewingTime : "_ _ : _ _" }}
    </p>
  </div>
  <div class="flex flex-col gap-4">
    @if(timerIsOff) {
    <ion-button color='primary' expand='block' shape='round' (click)="startTimer()">
      Commencer
    </ion-button>
    } @else {
    <ion-button color='secondary' expand='block' shape='round' (click)="resetTimer()">
      Reset
    </ion-button>
    }
    <ion-button color='primary' expand='block' shape='round' fill='outline' (click)="cancelTimer()">
      Annuler
    </ion-button>
  </div>
</div>

<ion-alert [isOpen]="isAlertOpen" header="Your tea is ready!" [buttons]="alertButtons"
  (didDismiss)="setOpen(false)">
</ion-alert>
