ion-icon {
  padding: .5rem;
  border-radius: 50px;
  background-color: var(--bencha);
  color: var(--sencha);
  width: 26px;
  height: 26px;
}

ion-button {
  height: auto;
  margin: 0 3rem;
  text-transform: capitalize;
  font-size: 1rem;
}

ion-button::part(native) {
  box-shadow: none;
  padding: 1rem 2rem;
}

.loader {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--bencha);
  position: absolute;
  left: 0;
  top: 0;
}
.loader::after {
  animation-delay: 1s;
}

.loader.animate::before {
  border: 6px solid var(--sencha);
  animation: animloader 2s linear infinite;
}

.loader.animate::after {
  background: var(--sencha);
  animation: animloader 3s linear infinite;
}


@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
    