@if(currentNote$ | async; as currentNote) {
  <form [formGroup]="noteForm" class="h-full flex flex-col overflow-hidden bg-almond">
    <ion-header mode="md" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="onUpdateNote(currentNote.uuid)">
            <ion-icon name="chevron-back-outline" />
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="onToggleBookmark()">
            <ion-icon [name]="pinned ? 'star' : 'star-outline'"
              color="primary" />
          </ion-button>
          <ion-button (click)="onDeleteNote(currentNote.uuid)">
            <ion-icon name="trash-outline" color="danger" />
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="flex-1 flex flex-col overflow-auto px-8">
      <ion-textarea autoGrow="true" class="font-semibold text-xl flex-shrink-0" formControlName="title"></ion-textarea>
      <ion-textarea autoGrow="true" class="flex-shrink-0" formControlName="content"></ion-textarea>

      <div class="text-xs text-bencha my-4">
        <p>Créé: <span>{{currentNote.created | date: 'MM/dd/yyyy'}}</span></p>
        @if(currentNote.modified) {
        <p>Modifié: <span>{{currentNote.modified | date: 'MM/dd/yyyy'}}</span></p>
        }
      </div>
    </div>
  </form>
} @else {
  <form [formGroup]="newNoteForm" class="h-full flex flex-col overflow-hidden bg-almond">
    <ion-header mode="md" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="onUpdateNote()">
            <ion-icon name="chevron-back-outline" />
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="onToggleBookmark()" color="primary">
            <ion-icon [name]="pinned ? 'star' : 'star-outline'" />
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="px-8">
        <ion-textarea placeholder="Titre" autoGrow="true" class="font-semibold text-xl"
          formControlName="title">
        </ion-textarea>
        <ion-textarea placeholder="Commencez ici votre idée..." autoGrow="true"
          formControlName="content">
        </ion-textarea>
      </div>
    </ion-content>
</form>
}

