@if(brewList$ | async; as brewList) {
<div class="tiles">
  @for(tea of brewList; track tea.id) {
    <button class="border-solid border-2 border-sencha" (click)='goToTimer(tea)'>
      <img src='assets/icon/{{tea.icon}}' alt=''>
      <span class="text-sm w-full p-3 text-sencha border-t-2 border-sencha">{{tea.label}}</span>
    </button>
  }
  <button class="border-solid border-2 border-sencha" routerLink="customize">
    <img src='assets/icon/customize.svg' alt=''>
    <span class="text-sm w-full p-3 text-sencha border-t-2 border-sencha">Minuterie Manuelle</span>
  </button>

</div>
} @else {
<ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>
}

