.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  button {
    padding-top: 1rem;
    width: 100%;
    background: var(--almond);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
