<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/brew']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <ion-icon name="cafe-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/note']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button [routerLink]="['/tabs/read']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <ion-icon name="library-outline"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button [routerLink]="['/tabs/more']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
