<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="brew">
      <ion-icon name="cafe-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="note">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="read">
      <ion-icon name="library-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
