// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import "variables";

:root {
  /** primary **/
  --ion-color-primary: var(--sencha);
  --ion-color-primary-contrast: var(--almond);
  --ion-color-primary-shade: #173522;
  --ion-color-primary-tint: #68926C;

  /** secondary **/
  --ion-color-secondary: var(--bencha);
  --ion-color-secondary-contrast: var(--sencha);
  --ion-color-secondary-shade: #888440;
  --ion-color-secondary-tint: #EBE9BD;

  /** tertiary **/
  --ion-color-tertiary: var(--medium-green);
  --ion-color-tertiary-contrast: var(--light-yellow);
  --ion-color-tertiary-shade: #03604B;
  --ion-color-tertiary-tint: #2FA976;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: --ion-color-secondary;
  --ion-color-warning-contrast: --ion-color-secondary-contrast;
  --ion-color-warning-shade: --ion-color-secondary-shade;
  --ion-color-warning-tint: --ion-color-secondary-tint;

  /** danger **/
  --ion-color-danger: #FF502D;
  --ion-color-danger-contrast: #FFEBD3;
  --ion-color-danger-shade: #B71816;
  --ion-color-danger-tint: #FFA981;

  /** dark **/
  --ion-color-dark: var(--charcoal);
  --ion-color-dark-contrast: var(--light-yellow);

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


}

.md body, .ios body {
  /** general **/
  --ion-text-color: var(--charcoal);
  --ion-text-color-rgb: 51,51,51;
  --ion-background-color: var(--almond);
  --ion-background-color-rgb: 244,239,224;
  --ion-toolbar-background: var(--almond);;
  --ion-tab-bar-background: var(--bencha);
}


