:root {
  --sencha: #2E4A33;
  --bencha: #BEBB80;
  --almond: #F4EFE0;
  --earlgrey: #E3C9B0;
  --hojicha: #B17F5E;
  --charcoal: #333333;

  --bright-green: #8CB120;
  --medium-green: #05704E;
  --bright-yellow: #F5CE12;
  --light-yellow: #EFEFCD;
  --grey-300: #D8DAE1;
  --grey-500: #92949c;
  --grey-700:#494F70;
  --offwhite: #FBFBFB;
}
