<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" />
      </ion-button>
    </ion-buttons>
    <ion-title>Minuterie Manuelle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToTimer()"
        [disabled]="!minute?.valid || !second?.valid || (!minute?.value && !second?.value)">OK
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="customTimerForm">
    <ion-item>
      <ion-input label="Minute" labelPlacement="stacked" type="number" 
        inputmode="numeric" pattern="[0-9]*" min="0" max="10" formControlName="minute">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Seconde" labelPlacement="stacked" type="number" 
        inputmode="numeric" pattern="[0-9]*" min="0" max="60" formControlName="second">
      </ion-input>
    </ion-item>
  </form>
</ion-content>