.tea-group {
  padding: 1rem;
}

.tea-tile {
  padding: 1rem;
  width: 100%;
  height: 100px;
  background: var(--light-yellow);
  border-radius: 4px 20px 20px 4px;
  border-left-width: 8px;
  border-left-style: solid;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 4px rgba(0,0,0,.1);
  border-left-color: var(--bright-yellow);
  &.medium {
    border-left-color: var(--bright-green);
  }
  &.long {
    border-left-color: var(--medium-green);
  }
  &.cus {
    background-color: var(--medium-green);
    border-left-color: var(--bright-green);
    img {
      filter: none;
    }
    span {
      color: var(--light-yellow);
    }
  }
  img {
    height: 100%;
    filter: invert(55%) sepia(98%) saturate(369%) hue-rotate(34deg) brightness(97%) contrast(84%);  }
  span {
    font-size: 1.25rem;
    color: var(--medium-green);
  }
}
