<ion-header class="ion-no-border">
  <ion-button [routerLink]="['/tabs/read']" color="primary" fill="clear" size="large" shape="round">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <div class='tea-image'>
    <img *ngIf="teaDetail.imageUrl" [src]="teaDetail.imageUrl" alt=''>
  </div>
  <div class="tea-info">
    <div class='title'>
      <h1>{{ teaDetail.name }}</h1>
      <span class="badge cat">{{ teaDetail.category }}</span>
      <span class="badge origin">{{ teaDetail.origin }}</span>
    </div>
    <p [innerHTML]="teaDetail.description"></p>
  </div>


</ion-content>
