ion-label {
  margin: 0;
  padding-bottom: .75rem;
  border-bottom: 1px solid var(--grey-300);
  p{
    margin: .5rem 0;
  }
  .badge {
    display: inline-block;
    font-size: 10px;
    background: var(--light-yellow);
    color: var(--medium-green);
    padding: 2px 8px;
    border-radius: 50px;
  }
}

.tea-image {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  img.noImg {
    filter: invert(54%) sepia(86%) saturate(411%) hue-rotate(34deg) brightness(102%) contrast(84%);
  }
}

.btn-roll {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  button {
    background-color: transparent;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    div {
      width: 45px;
      height: 45px;
      border-radius: 50px;
      background-color: var(--light-yellow);
      display: grid;
      &.active {
        background-color: var(--bright-green);
        img {
          filter: none;
        }
      }
      img {
        width: 70%;
        margin: auto;
        filter: invert(55%) sepia(98%) saturate(369%) hue-rotate(34deg) brightness(97%) contrast(84%);
      }
    }
  }
  span {
    width: 45px;
    font-size: 8px;
    text-align: center;
    margin-top: .5rem;
    color: var(--grey-500);
    &.active {
      color: var(--medium-green);
    }
  }
}

.tea-category-title {
  margin-left: 1rem;
  color: var(--medium-green);
  font-size: 1rem;
}

.hint {
  text-align: center;
  width: 70%;
  margin: 50% auto;
  color: var(--grey-500);
  font-size: .85rem;
}

ion-spinner {
  margin: 50% auto;
  width: 100%;
}

