ion-list {
  ion-icon {
    margin-right: 1rem;
  }
}

.social-media {
  text-align: center;
  h3 {
    font-size: 1rem;
  }
  .social-media-icons {
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
  }
  ion-icon {
    width: 35px;
    height: 35px;
  }
}

.logo {
  width: 40%;
  margin: 3rem auto 0;
}

.app-info {
  text-align: center;
  font-size: .75rem;
  color: var(--grey-500);
  span {
    display: block;
  }
}
